# fly.toml app configuration file generated for rates on 2025-11-16T14:51:52-06:00
#
# See https://fly.io/docs/reference/configuration/ for information about how to use this file.
#

app = 'rates'
primary_region = 'dfw'

[build]

[env]
  CRYPTO_LIMIT = '100'
  LOG_LEVEL = 'info'
  SUPPORTED_FIAT_SYMBOLS = 'USD,EUR,JPY,GBP,INR'

[http_service]
  internal_port = 8080
  force_https = true
  auto_stop_machines = 'stop'
  auto_start_machines = true
  min_machines_running = 0
  processes = ['app']

[[vm]]
  size = 'shared-cpu-1x'
